<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/root.html">
<head>
    <title>标签</title>
</head>
<body>
<section layout:fragment="content" th:remove="tag">
    <div style="padding:15px;">
        <div class="demoTable">
            <form class="layui-form" action="" lay-filter="configForm" id="configForm">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <label>
                                <select name="stProject" id="stProject" lay-search="">
                                    <option value="">项目</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn searchBtn" data-type="searchBtn">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="layui-hide" id="lay_table_swagger_tags" lay-filter="lay_table_swagger_tags"></table>
    </div>
</section>
<section layout:fragment="script" th:remove="tag">
    <script id="toolbarDemo" type="text/html">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="addBtn">添加</button>
        </div>
    </script>
    <script id="barDemo" type="text/html">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
    </script>
    <script>
        //JavaScript代码区域
        layui.use(['element', 'table'], function () {
            var $ = layui.$, element = layui.element, table = layui.table, form = layui.form ;
            //方法级渲染
            table.render({
                elem: '#lay_table_swagger_tags'
                , url: 'tags/listPage?t=' + new Date().getTime()
                , toolbar: '#toolbarDemo'
                , title: 'swagger标签表'
                , method: 'post' //如果无需自定义HTTP类型，可不加该参数
                , contentType: 'application/json'
                , cols: [
                    [
                        {field: 'st_id', title: 'ID', width: 80 }
                        , {field: 'si_title', title: '项目' ,width: 200}
                        , {field: 'st_name', title: '标签' ,width: 250}
                        , {field: 'st_description', title: '描述'}
                        , {field: 'st_remark', title: '备注' ,width: 300}
                        , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 180}
                    ]
                ]
                , page: true
                , height: 'full-200'
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageCount' //每页数据量的参数名，默认：limit
                }
                , done: function (res, curr, count) {
                    var stProject = $("#stProject");
                    stProject.empty();
                    stProject.append('<option value="">项目</option>');
                    for(var i in res.stProjects){
                        if(parseInt(res.stProjects[i].siId) === parseInt(res.stProjectId)){
                            stProject.append('<option selected="selected" value='+res.stProjects[i].siId+'>'+res.stProjects[i].siTitle+'</option>');
                        }else{
                            stProject.append('<option value='+res.stProjects[i].siId+'>'+res.stProjects[i].siTitle+'</option>');
                        }
                    }
                    form.render();
                }
            });
            //执行表格数据重载
            var tagsTableReload = function () {
                table.reload('lay_table_swagger_tags', {
                    page: { curr: 1 }
                    , where: {
                        'stProjectId':$("#stProject").val()
                    }
                }, 'data');
            };
            $('.demoTable .layui-btn').on('click', function(){
                switch($(this).data('type')){
                    case 'searchBtn':
                        tagsTableReload();
                        break;
                }
            });
            //监听头工具栏事件
            table.on('toolbar(lay_table_swagger_tags)', function(obj){
                switch(obj.event){
                    case 'addBtn':
                        layer.msg('待开发···');
                        break;
                }
            });
            //监听行工具栏事件
            table.on('tool(lay_table_swagger_tags)', function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'look':
                        window.open("swagger-ui/index"+data.st_project+"#/"+data.st_name,"_self");
                        break;
                    case 'del':
                        layer.msg('待开发···');
                        break;
                    case 'edit':
                        layer.msg('待开发···');
                        break;
                }
            });
        });
    </script>
</section>
</body>
</html>